<p id="notice"><%= notice %></p>

<main role="main">

    <div class="jumbotron">
      <div class="container">
        
        <p>
          <strong>Title:</strong>
          <%= @project.title %>
        </p>
    
        <p>
          <strong>Description:</strong>
          <%= @project.description %>
        </p>
        
      </div>
    </div> <!-- /container -->

</main>